/* Coucou toi qui regarde dans le code


/‾‾‾‾‾\ /‾‾‾‾‾] [‾‾‾‾‾‾‾‾] |‾‾‾‾‾] |‾‾‾‾‾\ |‾‾‾‾‾\ |‾| /‾/
| |‾| | | |‾‾‾   ‾‾|  |‾‾  | |‾‾‾  |     | |     | | |/ /
| | | | | |        |  |    |  ___] |     / |     / |  _/
| |_| | | |___     |  |    | |___  | |\ \  | |\ \  | |
\_____/ \_____]    |__|    |_____] |_| \_\ |_| \_\ |_|
MADE ON EARTH BY HUMANS */
body {
  background-color: #080808;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  width: 200px;
}

#illu {
  width: 100%;
}

.settingsDiv {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.settingsDiv h2 {
  margin-left: 10px;
}

#nameInput {
  color: #fff;
  background-color: #202020;
  border: none;
  padding: 5px;
}

#colorInput {
  border: none;
  background-color: #292929;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#saveButton {
  display: flex;
  height: 30px;
  margin: 10px 30px;
  align-items: center;
  justify-content: center;
  background-color: #224223;
  font-size: 8px;
  border-radius: 10px;
}

#saveButton:hover {
  cursor: pointer;
  background-color: #539955;
}

/* From Uiverse.io by xantha01 */ 
#checkbox {
  display: none;
}

.switch {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: rgb(83, 0, 0);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(255, 126, 126);
  box-shadow: 0px 0px 3px rgb(248, 248, 248) inset;
}

.powersign {
  position: relative;
  width: 10px;
  height: 10px;
  border: 4px solid rgb(248, 248, 248);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.powersign::before {
  content: "";
  width: 8px;
  height: 60%;
  background-color: rgb(248, 248, 248);
  position: absolute;
  top: -60%;
  z-index: 2;
}

.powersign::after {
  content: "";
  width: 3px;
  height: 60%;
  background-color: rgb(83, 0, 0);
  position: absolute;
  top: -60%;
  z-index: 3;
}

#checkbox:checked + .switch .powersign {
  border: 4px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgb(151, 243, 255),
    0px 0px 5px rgb(151, 243, 255) inset;
}

#checkbox:checked + .switch .powersign::after {
  background-color: rgb(208, 150, 255);
}

#checkbox:checked + .switch {
  box-shadow: 0px 0px 1px rgb(213, 150, 255) inset,
    0px 0px 2px rgb(230, 150, 255) inset,
    0px 0px 10px rgb(222, 150, 255) inset,
    0px 0px 40px rgb(216, 150, 255),
    0px 0px 100px rgb(225, 150, 255),
    0px 0px 5px rgb(222, 150, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(196, 136, 219);
}

#checkbox:checked + .switch .powersign::before {
  background-color: rgb(255, 255, 255);
}

/* From Uiverse.io by vinodjangid07 */ 
#checkbox2 {
  display: none;
}

.switch2 {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}
.switch2 svg {
  width: 1.2em;
}
.switch2 svg path {
  fill: rgb(48, 48, 48);
}
#checkbox2:checked + .switch2 {
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 255) inset, 0px 0px 10px rgb(151, 243, 255) inset,
    0px 0px 40px rgb(151, 243, 255), 0px 0px 100px rgb(151, 243, 255),
    0px 0px 5px rgb(151, 243, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(146, 180, 184);
}
#checkbox2:checked + .switch2 svg {
  filter: drop-shadow(0px 0px 5px rgb(151, 243, 255));
}
#checkbox2:checked + .switch2 svg path {
  fill: rgb(255, 255, 255);
}
